* {
  overflow: hidden;
}
.navbar {
  float: none;
  width: 300px;
  margin: 20px;
  margin-left: 485px;
  border-radius: 20px;
}
.adel {
  border-radius: 12px;
  width: 28px;
  height: 33px;
  display: block;
}
.about-wrapper {
  height: 100vh;
}
.about-left {
  padding-top: 65px;
  background-color: #dda15e;
  background-image: linear-gradient(19deg, #dda15e 0%, #fefae0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.about-left-content > div {
  background: #bc6c25;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;

  border-radius: 12px 12px 0 0;
}
.about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  width: 80%;
  margin-top: 20px;
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img img:hover {
  display: block;
  width: 300px;
  transform: translate3d(0, 50%, 50%);
  transition: 1s;
}
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 2s ease-in-out;
}
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fefae0;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons {
  background: #bc6c25;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 0 0 12px 12px;
}
.icons li {
  list-style-type: none;
  background: #150f18;
  color: rgb(209, 138, 138);
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover {
  background: #edffec;
  color: #000;
}
.about-right {
  background: #a98467;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  color: #f2e8cf;
}
.about-right h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}
.about-right h1 span {
  color: #1b263b;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}
.about-right h2 {
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}

.about-btns {
  display: flex;
  margin: 2rem 0;
}
.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
}
.btn.btn-pink {
  background: #e0e1dd;
  color: rgb(38, 31, 31);
  font-weight: 600;
  border-color: #e0e1dd;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: #ffffff;
}
.btn.btn-white:hover {
  background: #e0e1dd;
  border-color: #e0e1dd;
  color: rgb(52, 43, 43);
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    width: 80%;
  }
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}
