html {
  scroll-behavior: smooth;
}
.adel {
  margin-left: 20px;
  border-radius: 12px;
  width: 28px;
  height: 33px;
}
.navbar {
  float: none;
  left: 20%;
  right: 30%;
  width: 1000px;
  margin: 20px;
  margin-left: 150px;
  border-radius: 20px;
}
.char {
  transform: translateY(10px);
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}
.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}
.carousel-caption h5 {
  font-size: 75px;
  font-weight: 500;
}
.carousel-caption p {
  font-size: 18px;
  top: 2rem;
}
.slider-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}
.slider-btn .btn {
  background-color: #8e806a;
  border-radius: 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 12px;
}
.slider-btn .btn:hover {
  background-color: #ffe6bc;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.slider-btn .btn:active {
  background-color: #ffe6bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#contact {
  background-color: #432818;
  height: 70vh;
  min-height: 300px;
}
#contact {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f5f0e8;
}
#posts {
  background-color: #ddb892;
  box-sizing: border-box;
}
.container-post {
  background-color: #ddb892;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-tabs {
  background-color: #f5f0e8;
}
.bi {
  font-size: 20px;
}
.fa-earth-americas {
  font-size: 20px;
}
.tabs {
  align-self: center;
  float: none; /*to make sure there is no active float*/
  display: inline-block;
  position: relative;
  top: 50%;
  bottom: 50%;
  width: 1050px;
  height: 500px;
  transform: translatex(7%);
  background-color: #69140e;
  padding: 30px;
  overflow: hidden;
  border-radius: 40px;
}
.tabs .tab-header {
  float: left;
  width: 180px;
  height: 100%;
  border-right: 2px solid rgb(71, 62, 62);
  padding: 50px 20px;
  background-color: #69140e;
}
.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(192, 161, 161);
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color: #ffe6bc;
}
.tabs .tab-header div i {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
}
.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.tabs .tab-content > div > i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f2f3ae;
  color: rgb(11, 10, 10);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tabs .tab-content > div {
  position: initial;
  text-align: center;
  padding: 40px 20px;
  top: -200%;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top: 0px;
}
.tabs .tab-content h2,
p {
  color: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}

.content-image {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.5s ease;
  opacity: 0.5;
}
.content-image:hover {
  opacity: 1;
}
