.adel {
  border-radius: 12px;
  width: 28px;
  height: 33px;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}
.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}
.carousel-caption h5 {
  font-size: 75px;
  font-weight: 500;
}
.carousel-caption p {
  font-size: 18px;
  top: 2rem;
}
.slider-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}
.slider-btn .btn {
  background-color: #8e806a;
  border-radius: 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 12px;
}
.slider-btn .btn:hover {
  background-color: #ffe6bc;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.slider-btn .btn:active {
  background-color: #ffe6bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#contact {
  background-color: #464e2e;
  height: 90vh;
  min-height: 300px;
}
#contact {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f5f0e8;
}
.container-contact .row {
  padding-top: 20px;
}
#posts {
  background: hsla(38, 100%, 87%, 1);

  background: radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  background: -moz-radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  background: -webkit-radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFE6BC", endColorstr="#553939", GradientType=1 );
  box-sizing: border-box;
  padding: 20px;
}
.container-post {
  background: hsla(38, 100%, 87%, 1);

  background: radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  background: -moz-radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  background: -webkit-radial-gradient(circle, hsla(38, 100%, 87%, 1) 0%, hsla(0, 20%, 28%, 1) 83%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFE6BC", endColorstr="#553939", GradientType=1 );
  padding: 20px;
}
.col-tabs {
  background-color: #f5f0e8;
}
.bi {
  font-size: 20px;
}
.fa-earth-americas {
  font-size: 20px;
}
.tabs {
  position: relative;
  top: 50%;
  bottom: 50%;
  width: 1050px;
  height: 500px;
  transform: translatex(5%);
  background-color: #8e806a;
  padding: 30px;
  overflow: hidden;
  border-radius: 40px;
}
.tabs .tab-header {
  float: left;
  width: 180px;
  height: 100%;
  border-right: 2px solid rgb(71, 62, 62);
  padding: 50px 20px;
  background-color: #8e806a;
}
.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(57, 47, 47);
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color: #ffe6bc;
}
.tabs .tab-header div i {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
}
.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.tabs .tab-content > div > i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #4a453c;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tabs .tab-content > div {
  position: initial;
  text-align: center;
  padding: 40px 20px;
  top: -200%;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  display: block;
  top: 0px;
  height: 100%;
  width: 100%;
}
.tabs .tab-content h2,
p {
  color: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
.tabs .tab-line {
  position: absolute;
  width: 4px;
  height: 40px;
  background: #d3cece;
  left: 200px;
  top: 83px;
  transition: all 500ms ease-in-out;
}
